body {
    background-color: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
    font-size: 180px;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 7px;
}

p {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Montserrat;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: #fff;
}